<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Hugo powered responsive site using minimal code while still looking good.">
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23c4c6c8%22></rect><path fill=%22%23888888%22 d=%22M26.46 77.63L9.09 77.63L9.09 23.08L25.60 23.08L25.60 33.10L26.21 33.10Q27.91 28.12 31.96 25.25Q36.01 22.37 41.62 22.37L41.62 22.37Q47.30 22.37 51.35 25.28Q55.40 28.20 56.50 33.10L56.50 33.10L57.07 33.10Q58.59 28.23 63.03 25.30Q67.47 22.37 73.51 22.37L73.51 22.37Q81.25 22.37 86.08 27.33Q90.91 32.28 90.91 40.91L90.91 40.91L90.91 77.63L73.54 77.63L73.54 44.89Q73.54 40.80 71.45 38.65Q69.35 36.51 66.02 36.51L66.02 36.51Q62.43 36.51 60.39 38.83Q58.35 41.16 58.35 45.06L58.35 45.06L58.35 77.63L41.65 77.63L41.65 44.71Q41.65 40.91 39.60 38.71Q37.54 36.51 34.16 36.51L34.16 36.51Q31.89 36.51 30.15 37.59Q28.41 38.67 27.43 40.66Q26.46 42.65 26.46 45.35L26.46 45.35L26.46 77.63Z%22></path></svg>" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Azeret+Mono:ital,wght@0,300;0,600;1,300&family=Inter+Tight:ital,wght@0,400;0,600;0,800;1,400&display=swap" rel="stylesheet" />
    <title>{{ site.Title }} | {{ .Title }}</title>
    <style>
      *,
      *::before {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0 2vw;
        font-family: 'Inter Tight';
        font-size: clamp(0.88rem, calc(0.76rem + 0.58vw), 1.38rem);
        line-height: 1.5;
        color: #444;
        background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' id='svg' viewBox='0 0 1440 700' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'><defs><linearGradient id='gradient' x1='0%' y1='50%' x2='100%' y2='50%'><stop offset='5%' stop-color='%23333333'></stop><stop offset='95%' stop-color='%23abb8c3'></stop></linearGradient></defs><path d='M 0,700 C 0,700 0,140 0,140 C 103.6267942583732,145.43540669856458 207.2535885167464,150.87081339712918 306,161 C 404.7464114832536,171.12918660287082 498.6124401913876,185.95215311004785 604,175 C 709.3875598086124,164.04784688995215 826.2966507177035,127.32057416267942 915,121 C 1003.7033492822965,114.67942583732058 1064.200956937799,138.76555023923444 1147,147 C 1229.799043062201,155.23444976076556 1334.8995215311006,147.61722488038276 1440,140 C 1440,140 1440,700 1440,700 Z' stroke='none' stroke-width='0' fill='url(%23gradient)' fill-opacity='0.265' class='transition-all duration-300 ease-in-out delay-150 path-0' transform='rotate(-180 720 350)'></path><defs><linearGradient id='gradient' x1='0%' y1='50%' x2='100%' y2='50%'><stop offset='5%' stop-color='%23333333'></stop><stop offset='95%' stop-color='%23abb8c3'></stop></linearGradient></defs><path d='M 0,700 C 0,700 0,280 0,280 C 109.36842105263159,265.11961722488036 218.73684210526318,250.23923444976077 302,258 C 385.2631578947368,265.7607655502392 442.42105263157896,296.1626794258373 528,304 C 613.578947368421,311.8373205741627 727.578947368421,297.1100478468899 842,297 C 956.421052631579,296.8899521531101 1071.2631578947369,311.3971291866029 1171,311 C 1270.7368421052631,310.6028708133971 1355.3684210526317,295.30143540669854 1440,280 C 1440,280 1440,700 1440,700 Z' stroke='none' stroke-width='0' fill='url(%23gradient)' fill-opacity='0.4' class='transition-all duration-300 ease-in-out delay-150 path-1' transform='rotate(-180 720 350)'></path><defs><linearGradient id='gradient' x1='0%' y1='50%' x2='100%' y2='50%'><stop offset='5%' stop-color='%23333333'></stop><stop offset='95%' stop-color='%23abb8c3'></stop></linearGradient></defs><path d='M 0,700 C 0,700 0,420 0,420 C 82.61244019138758,423.9712918660287 165.22488038277515,427.9425837320574 272,438 C 378.77511961722485,448.0574162679426 509.7129186602871,464.200956937799 603,450 C 696.2870813397129,435.799043062201 751.9234449760764,391.2535885167465 830,385 C 908.0765550239236,378.7464114832535 1008.5933014354068,410.78468899521533 1114,423 C 1219.4066985645932,435.21531100478467 1329.7033492822966,427.60765550239233 1440,420 C 1440,420 1440,700 1440,700 Z' stroke='none' stroke-width='0' fill='url(%23gradient)' fill-opacity='0.53' class='transition-all duration-300 ease-in-out delay-150 path-2' transform='rotate(-180 720 350)'></path><defs><linearGradient id='gradient' x1='0%' y1='50%' x2='100%' y2='50%'><stop offset='5%' stop-color='%23333333'></stop><stop offset='95%' stop-color='%23abb8c3'></stop></linearGradient></defs><path d='M 0,700 C 0,700 0,560 0,560 C 95.05263157894737,573.2153110047847 190.10526315789474,586.4306220095693 291,582 C 391.89473684210526,577.5693779904307 498.6315789473683,555.4928229665073 598,555 C 697.3684210526317,554.5071770334927 789.3684210526317,575.5980861244018 868,568 C 946.6315789473683,560.4019138755982 1011.8947368421054,524.1148325358852 1105,518 C 1198.1052631578946,511.8851674641148 1319.0526315789473,535.9425837320574 1440,560 C 1440,560 1440,700 1440,700 Z' stroke='none' stroke-width='0' fill='url(%23gradient)' fill-opacity='1' class='transition-all duration-300 ease-in-out delay-150 path-3' transform='rotate(-180 720 350)'></path></svg>");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      }

      main {
        background-color: #d8d8d8aa;
        padding: 2em clamp(0.875rem, -0.0833rem + 4.7917vw, 3.75rem) 6em;
        max-width: 1100px;
        margin: 2em auto 6em;
        border-radius: 30px;
      }
      h1 {
        font-size: 5em;
        color: #888;
        margin: 0 auto 1rem auto;
        line-height: 1;
        letter-spacing: -0.03em;
        /* margin-bottom: 1rem; */
      }
      h2 {
        font-size: 2.2em;
        margin: 2em 0 0 0;
        letter-spacing: -0.02em;
      }
      .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3em;
        padding-bottom: 0.25rem;
        border-bottom: solid 5px #999;
        color: #666;
        font-size: 0.8em;
      }
      a {
        text-decoration: none;
        color: rgb(182, 110, 2);
      }
      :is(p, li) > code {
        font-family: 'Azeret Mono' serif;
        color: #057ac2;
      }
      pre {
        background-color: #000c !important;
        font-size: 0.9em;
        font-weight: 300;
        padding: 0.5em;
        border-radius: 8px;
        overflow: auto;
      }
      span[style*='f92672'] {
        color: #009fff !important;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>{{ site.Title }}</h1>
      <div class="info">
        <time>{{ .Date.Format "2 Jan 06" }} / {{ now.Format "2 Jan 06"}}</time>
        <span>{{ .Permalink }}</span> <span>Hugo v.{{ hugo.Version }}</span>
      </div>

      <section class="content">{{ .Content }}</section>
    </main>
  </body>
</html>
